@import '../../style.scss';

.action{
    cursor: pointer;
    color: $tronDarkBlue;
    text-decoration: underline;
    font-weight: 700;
}

.list--container{
    display: flex;
    .table{
        .tag--container{
            display: grid;
        }
    }
}

@media only screen and (max-width: 991px) {
    .list{
        .list--container{
            flex-direction: column;
            .filter{
                max-height: 20vh;
                overflow: scroll;
                background-color: #e0dfdfa9;
                .filter--checkbox{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
            }
            .table{
                
                max-height: 60vh;
                overflow: scroll;
                .tag{
                    grid-template-columns: repeat(1, 1fr);
                }
                .ant-table-thead .ant-table-cell {
                    background-color: #e0dfdfa9;
                }
            }
        }
    }
}
@media only screen and (min-width: 992px) {
    .list{
        padding: 40px;
        background-color: #F0F0EE;
        .list--container{
            
            .filter{
                flex: 20%;
                max-height: 80vh;
                overflow: scroll;
                background-color: $white;
                .filter--title--container{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 50px;
                    .filter--title{
                        text-decoration: underline;
                    }
                }
                .filter--checkbox{
                    margin-top: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
            }
            .table{
                flex: 80%;
                max-height: 80vh;
                overflow: scroll;
                background-color: $white;
                .tag{
                    grid-template-columns: repeat(1, 1fr);
                }
            }
        }
    }
}

